*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  // outline: 1px solid rgba(#abc, 0.5);
}

.clearfix:before,
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

.ar-font {
  font-family: "Bahij", sans-serif;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

html {
  font-size: 62.5%;
  font-size: 10px;
  
}

html[dir="ltr"] {
  font-size: 62.5%;
  font-size: 10px;
  direction: ltr;
  // .row,
  // .d-flex {
  //   flex-direction: row;
  // }
  // .flex-row-reverse {
  //   flex-direction: row;
  // }
}

html[dir="rtl"] {
  font-size: 62.5%;
  font-size: 9px;
  direction: rtl;
  font-family: 'Bahij' !important;
  > * {
    letter-spacing: 0;
  }
  // .row,
  // .d-flex {
  //   flex-direction: row-reverse
  // }
  // .flex-row-reverse {
  //   flex-direction: row;
  // }
  body{
    font-family: 'Bahij' !important;
  }
}

body {
  font-size: 1.6rem;
  line-height: 1.6;
  position: relative;
  overflow-x: hidden;
  cursor: default;
  font-weight: normal;
  
  background-color: $S-White;
}

.no-margin {
  margin: 0;
}

main {
  overflow: hidden;
  // margin-top: 90px;
  &.with-spy {
    margin-top: 60px;
  }
  &.white-bg {
    background-color: #fff;
  }
}

html[dir="ltr"] body {
  font-family: 'Roboto', sans-serif;
}

html[dir="rtl"] body {
  font-family: 'Bahij', 'Lato', sans-serif;
}

a,
a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 700;
}

h1,
.h1 {
  font-size: 5.4rem;
}
h2 {
  font-size: 3.6rem;
}
h3 {
  font-size: 2.4rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.3rem;
  font-weight: 300;
}


.slick-slider {
  margin:0 -15px;
}
.slick-slide {
  text-align:center;
  margin-right:15px;
  margin-left:15px;
}

.section-title {
  color: $P-Blue;
  margin-bottom: 30px
}
.section-more {
  display: flex;
  align-items: center;
  color: $P-Blue;
  margin-left: auto;
  display: table;
  i {
    margin-left: 10px
  }
}

.t-bold {font-weight: 700;}

.fill { 
  min-height: 100%;
  height: 100%;
}

.carousel-arrows_container {
  position: absolute;
  width: 100%;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  z-index: 3;
  padding: 0 8%;
  .prev,
  .next {
    color: $P-White;
    font-size: 2rem;
    cursor: pointer;
    padding: 0 5px;
  }
}

.number-input {
  display: inline-flex;
  .number-input button {
    outline:none;
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    margin: 0;
    position: relative;
  }

  .number-input input[type=number] {
    font-family: sans-serif;
    max-width: 5rem;
    padding: .5rem;
    border: solid #ddd;
    border-width: 0 2px;
    font-size: 2rem;
    height: 3rem;
    font-weight: bold;
    text-align: center;
  }  
}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}
.donition-fields{
  .cart-total_continue{
      cursor: pointer;
      width: 100%;
      display: block;
       border: none;
    }
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}


.scroll-spy {
  position: fixed;
  top: 90px;
  height: 60px;
  line-height: 60px;
  left: 0;
  width: 100%;
  z-index: 2;
  background-color: $S-White;
  ul {
    display: flex;
  }
  li {
    margin-right: 30px;
    &.active {
      a {
        color: $P-Green;
      }
    }
    &:last-of-type {
      margin-right: 0;
    }
  }
  a {
    font-size: 1.3rem;
    font-weight: 700;
    color: #BDBDBD;
    transition: 0.3s ease color;
  }
}

.mt-30 {
  margin-top: 30px;
}
.styled-checkbox {
  position: absolute;
  opacity: 0;
  & + label {
    position: relative;
    cursor: pointer;
    padding: 0;
    color: #BDBDBD;
    font-size: 1.3rem;
    font-weight: 300;
    display: flex;
    align-items: center;
  }

  &:checked + label {
    color: $S-Gray;
    font-weight: 700;
  }

  // Disabled state label.
  &:disabled + label {
    color: #b8b8b8;
    cursor: auto;
  }

  & + label .styled-checkbox_icon {
    display: block;
    width: 20px;
    height: 20px;
    object-fit: contain;
    margin-right: 10px;
  }

}


.checkbox-container {
  display: block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
  font-size: 1.3rem;
  line-height: 20px;
  color: $P-Blue;
  * {
    transition: 0.3s ease all;
  }
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    &:checked ~ .checkmark {
      background-color: $P-Blue;
    }
    &:checked ~ .checkmark:after {
      display: block;
    }
  }
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    &:after {
      content: "\f00c";
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      position: absolute;
      display: none;
      left: 0px;
      top: 0;
      width: 20px;
      height: 20px;
      color: #fff;
      text-align: center;
    }
  }
  &:hover input ~ .checkmark {
    background-color: #ccc;
  }
  &:hover input:checked ~ .checkmark {
    background-color: rgba($P-Blue, 0.8);
  }
  
}

.w-100 {width: 100%}
.text-green {color: $P-Green}
.text-gray {color: $S-Gray}

.text-align-center {text-align: center;}
.t-center {text-align: center}
.t-left {text-align: left}
.t-right {text-align: right}
.t-normal {font-weight: normal}
.t-orange {color: $P-Orange}
.t-green {color: $P-Green}
.t-blue {color: $P-Blue}
.t-gray {color: $S-Gray}
.t-light {color: $SC-Gray}