html[dir="ltr"]
  .fas
    transform: none  
  .causeWide-progress .green-line
    right: auto
    left: 0
  .causeWide-progress_data
    flex-direction: row
  .causeWide .cause-content:after, .causeWide .cause-content:before
    left: 100%
    right: auto
html[dir="rtl"]
  .fas
    transform: rotateY(180deg)  
  .causeWide-progress .green-line
    right: auto
    left: 0
  .causeWide-progress_data
    flex-direction: row-reverse
  .causeWide .cause-content:after, .causeWide .cause-content:before
    left: 100%
    right: auto