// Colors
// Primary
$P-Green: #01513e;
$P-Lightgreen: #007960;
$P-Orange: #d8801e;
$P-Blue: #03386d;
$P-White: #FFFFFF;
// Secondry
$S-Black: #212121;
$S-Gray: #616161;
$S-Lightgray: #eeeeee;
$S-White: #f5f5f5;
// Scoops
$SC-Blue: #0156a2;
$SC-Violet: #8a56a1;
$SC-Red: #d0232a;
$SC-Sky: #6797cd;
$SC-Orange: #f6981f;
$SC-Gray: #888991;