.about-page
  background-color: #fff

.about-header
  margin-top: 120px
  position: relative
  height: 260px
  .about-header_figure
    width: 100%
    height: 100%
    display: block
    object-fit: cover
    position: relative
  &:after
    content: ""
    position: absolute
    top: 0
    left: 0
    width: 100%
    opacity: 0.4
    height: 100%
    display: block
    background: linear-gradient(to bottom, rgba(211,211,211,1) 0%, rgba(211,211,211,1) 31%, rgba(2,28,66,1) 100%)
  .about-header_title
    font-size: 3.6rem
    text-align: center
    position: absolute
    left: 0
    top: 50%
    transform: translateY(-50%)
    z-index: 1
    width: 100%
    color: $P-White

.about-charity
  font-size: 3.6rem
  color: $P-Blue
  text-align: left
  margin-top: 60px
  margin-bottom: 10px

.about-desc
  font-size: 1.3rem
  font-weight: 300
  line-height: 30px
  margin-bottom: 30px
  width: 90%
  margin-left: 15px
