.about-succes
  padding-bottom: 60px
.about-succes_figure
  position: relative
  width: 100%
  margin: auto
  height: 436px
  border-radius: 0px
  overflow: hidden
  &:after
    content: ""
    left: 0
    right: 0
    position: absolute
    top: 0
    width: 100%
    height: 100%
    opacity: 0.45
    transition: 0.3s ease all
    background: linear-gradient(to bottom, rgba(211,211,211,1) 0%, rgba(211,211,211,1) 31%, rgba(2,28,66,1) 100%)
  img
    display: block
    width: 100%
    height: 100%
    object-fit: cover
  .about-succes_content
    position: absolute
    left: 30px
    bottom: 30px
    color: white
    z-index: 1
  .about-succes_title
    font-size: 2rem
    text-align: left
  .about-succes_subTitle
    font-size: 1.3rem
    font-weight: 300

.about-success_slide
  // height: 436px
  //max-width: 1000px
  position:relative
  

.about-success_content
  font-size: 1.5rem
  line-height: 24px
  max-height: 3*24px
  overflow: hidden
  font-weight: 300
  text-align: left
  color: #616161
  padding-left: 5px
  transition: 0.3s ease all
  opacity: 0
  margin-top: 30px
  p
    text-align: left

.about-success_more
  font-size: 1.5rem
  line-height: 30px
  display: flex
  align-items: center
  margin-left: 5px
  cursor: pointer
  margin-top: 20px
  color: $P-Blue
  transition: 0.3s ease all
  i
    margin-left: 15px


.about-succes_carousel
  .slick-slide
    transition: 0.3s ease all
    .about-success_content,
    .about-success_more,
    .about-success_partner,
    .causeWide-ribbons
      opacity: 0
    &.slick-current.slick-center
      .about-success_content,
      .about-success_more,
      .about-success_partner,
      .causeWide-ribbons
        opacity: 1


.media-page
  margin-top: 60px

.media-page_bar
  display: flex
  justify-content: space-between
  align-items: center
  .media-bar_title
    font-size: 1.5rem
    color: $P-Blue
    line-height: 30px
  .media-bar_order
    font-size: 1.3rem
    color: #616161
    span
      color: $P-Blue
      font-weight: 700

.media-news
  display: flex
  background-color: #fff
  box-shadow: 0px 4px 4px rgba(#000, 0.05)
  align-items: center
  border-radius: 5px
  overflow: hidden
  margin-bottom: 30px
  .media-news_img
    width: 200px
    height: 120px
    display: block
    object-fit: cover
    margin-right: 30px
  .media-news_content
    padding: 30px 0
  .media-news_title
    font-size: 1.5rem
    color: #212121
    line-height: 15px
    height: 15px
    overflow: hidden
  .media-news_date,
  .media-news_more
    font-size: 1.3rem
    color: #bdbdbd
    line-height: 15px
  .media-news_more
    color: $P-Green
    display: flex
    margin-top: 5px