.about-charity-lg{
    max-height: 200px;
    overflow: hidden;
    &.active{
        
        max-height: 3000px;
    }
}

.about-charity_more{
    font-size: 15px;
    font-size: 1.5rem;
    line-height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    margin-top: 20px;
    color: #03386d;
    -webkit-transition: 0.3s ease all;
    transition: 0.3s ease all;
    span{
        margin-right: 10px;
    }
}
.about-succes_carousel{
    
    .slick-arrow{
        position: absolute;
        left: calc(50% + 30px);
        background-color: transparent;
        border: none;
        color: $P-Blue;
        bottom: -50px;
        cursor: pointer;
        &:focus{
            outline: none
        }
        &.slick-prev{
            left: calc(50% - 20px);
            &:after{
                content: "";
                position: absolute;
                top: 10px;
                left: 17px;
                height: 2px;
                width: 25px;
                background-color: $P-Blue;
               }
          }
      
    }
    
}
.about-success_content{
    &.active{
        max-height: 3000px
    }
}
.about-success_partner{
    img{
        height: 50px;
        margin-top: 25px;
    }
}
.parteners-content{
    &.active{
        max-height: 3000px
    }
}
  
.about-success_slide.causeWide{
    width: auto;
    height: auto;
    border-radius: 0;
    overflow: inherit;
    display: block;
    margin-bottom: 0;
    position: relative;
    box-shadow: none;
}
  