.board-members
 padding: 40px 0

.board_title
 font-size: 3.6rem
 color: $P-Blue
 text-align: left
 position: absolute
 top: 0
 left: 15px
 margin-bottom: 30px

.board-slider
 position: relative
 margin-bottom: 80px
 .slider-cont
  .slider-item
   img
    float: right
    max-width: 44%
    object-fit: cover
    min-height: 480px
    max-height: 480px
    border-radius: 3px
    
    
   .item-content
    max-width: 38%
    margin-top: 20px
    margin-left: 13%
    right: auto
    left: auto
    text-align: left
    position: relative
    float: left
    color: $S-Gray
    h4,h5
     margin-bottom: 10px
    h4
     font-size: 2rem
    h5
     font-size: 1.4rem
     color: $SC-Gray
    p
     font-size: 1.3rem
     line-height: 23px 
 .small-slider
  width: 64%
  float: right
  margin-top: -175px
  margin-right: 45%
  .slick-arrow
   position: absolute
   right: 30px
   background-color: transparent
   border: none
   color: $P-Blue
   bottom: -50px
   cursor: pointer
   &:focus
    outline: none
  .slick-prev
   right: 80px
   &:after
    content: ""
    position: absolute
    top: 10px
    left: 17px
    height: 2px
    width: 25px
    background-color: $P-Blue
  .s-slider-item
   margin-left: 15px
   img
    max-width: 160px
    width: 100%
    height: 110px
    object-fit: cover
    -webkit-filter: grayscale(100%)
    filter: grayscale(100%)
    border-radius: 3px

.parteners
  .title
    font-size: 3.6rem
    color: $P-Blue
    text-align: left
    margin-bottom: 30px
/* Style the tab */
.tab 
  overflow: hidden
  display: flex
  justify-content: center
  border-bottom: 2px solid $P-Lightgreen
  button 
   float: left
   border: none
   outline: none
   cursor: pointer
   color: $SC-Gray
   padding: 14px 16px
   transition: 0.3s
   position: relative
   background-color: transparent
   &:hover
    color: $P-Lightgreen
   &.active
    color: $P-Lightgreen
    &:after
     content: ""
     position: absolute
     bottom: -1px
     left: calc(50% - 7.5px)
     border-color: $P-Lightgreen transparent
     border-style: solid
     border-width: 0 8px 8px 8px
     animation: fadeEffect 1s
     height: 0px
     width: 0px

.tabcontent 
  display: none
  padding: 6px 12px
  animation: fadeEffect 1s

@keyframes fadeEffect 
  from {opacity: 0;}
  to {opacity: 1;}

.parteners-slider-down
  padding-top: 40px
  .slick-arrow
    position: absolute
    background-color: transparent
    right: 0px
    left: auto
    height: 100%
    padding: 0 30px
    border: none
    color: $P-Blue
    font-size: 26px
    top: 0px
    z-index: 1
    cursor: pointer
    background-image: linear-gradient(to right, rgba(238,238,238,0), rgba(238,238,238,1))
  &:focus
    outline: none
  .slick-prev
    right: auto
    left: 0px
    background-image: none
    background-image: linear-gradient(to left, rgba(238,238,238,0), rgba(238,238,238,1))
  .slick-slide
   .parteners-figure
     //display: flex
     height: 75px
     opacity: 0.5
     margin-top: 25px
     margin-bottom: 50px
     align-items: center
     justify-content: center
     img
      -webkit-filter: grayscale(100%)
      filter: grayscale(100%)
      max-height: 100%
      margin: auto
      max-width: 150px
      
.parteners-slider-down
  .slick-current
    .parteners-figure
      height: 125px
      margin-top: 0
      opacity: 1
      img
        -webkit-filter: grayscale(0%)
        filter: grayscale(0%)
        margin: auto
.parteners-slider-top
 .parteners-content
   margin: 0 auto
   padding: 40px
   overflow: hidden
   max-height: 160px
   width: 78%
   h4
     font-size: 20px
     margin-bottom: 20px
   p
     color: $SC-Gray
     //height: 50px
     margin-bottom: 50px
 .parteners-more
  color: $P-Blue
  cursor: pointer
  margin-bottom: 50px
  span
   display: block