.page
    padding-top: 50px

html, html .cart-list_total
    .btn-orange
        background-color: $P-Orange
        &:hover
            background-color: rgba($P-Orange, 0.8)
    .btn-green
        background-color: $P-Green
        &:hover
            background-color: rgba($P-Green, 0.8)

htm[dir="ltr"], html[dir="rtl"]
    .calculator-page
        .cart-form 
            .cart-form_body 
                [class^="col-"]
                    border: 0

.calculator-page
    .calc-header
        p
            color: $S-Gray
            margin-bottom: 30px
            margin-left: 5%
    .cart-form 
        margin-bottom: 30px
        .cart-form_body 
            padding-left: 30px
            [class^="col-"]
                border: 0
    .cart-list_total
        .cart-total_head
            border-color: #ddd
            margin-bottom: 5px
            font-weight: bold
        .cart-total_body
            margin-bottom: 0
        .cart-total_row
            margin: 5px 0
        .cart-total_num
            line-height: 30px
            text-align: right
        .total-field
            color: $P-Blue
            padding: 5px 0
            font-weight: bold
            border-top: 1px solid #ddd
            border-bottom: 1px solid #ddd
            .cart-total_text
                color: $P-Blue
        .check-list
            li
                margin: 3px 0
        .donition-fields
            display: none
            .cart-total_body
                margin-bottom: 30px
    .w-100
        width: 100%

.custom-check
    margin: 15px 0
    label
        position: relative
        left: auto
        right: auto
        padding-right: 30px
        display: block
        line-height: 18px
        cursor: pointer
        color: $SC-Gray
        &:before, &:after
            position: absolute
        &:before
            content: ""
            top: 2px
            right: 0
            width: 15px
            height: 15px
            border: 1px solid $P-Blue
            border-radius: 2px
        &:after
            content: '✔'
            top: 2px
            right: 3px
            color: #FFFFFF
            font-size: 10px
            line-height: 15px
            font-weight: normal
            display: none
    input
        display: none
        &:checked + label
            color: $S-Gray
            font-weight: bold
            &:after
                display: block
            &:before
                background-color: $P-Blue