.cart-table
  width: 100%
  background-color: $P-White
  margin-top: 60px
  border-radius: 5px
  margin-bottom: 30px
  .cart-body
    padding: 0 30px
  .cart-table_head
    box-shadow: 0px 4px 4px rgba(#000, 0.05)
    padding: 15px
    font-size: 1.3rem
    color: $P-Green
    display: flex
    justify-content: space-around
    span
      width: 20%
      text-align: left
      &:first-of-type
        width: 40%
        text-align: center
  .cart-table_row
    display: flex
    position: relative
    color: $P-Green
    line-height: 80px
    padding: 15px 0
    border-bottom: 1px solid rgba($S-Lightgray, 0.5)
    &:last-of-type
      border-bottom: 0
    div
      width: 20%
      &:first-of-type
        width: 40%
  .cart-table_product
    display: flex
    align-items: center
    .cart-table_figure
      width: 80px
      height: 80px
      border-radius: 5px
      margin-right: 15px
      display: block
      object-fit: cover
    .cart-table_name
      font-size: 1.3rem
      font-weight: 700
      line-height: 30px
  .cart-table_cancel
    display: inline-flex
    position: absolute
    right: 0
    top: 30px
    padding: 5px
    text-align: center


.cart-list
  margin-top: 90px
  &.contact
    .cart-total_head
      font-weight: 700
    .cart-list_total
      .cart-total_continue
        position: relative
        width: 100%
        .fa-directions
          position: absolute
          right: 30px
          bottom: 15px
          font-size: 1.5rem
    .cart-total_row
      flex-direction: column
    .cart-total_text
      color: $P-Green
    .cart-total_num
      font-size: 1.3rem
      font-weight: 400
      color: #616161
      display: block
      width: 100%


.cart-list_total
  margin-top: 60px
  background-color: #fff
  border-radius: 5px
  overflow: hidden
  margin-bottom: 30px
  .cart-total_head
    color: $P-Blue
    font-size: 1.5rem
    padding: 15px 30px 15px 0
    text-align: left
    margin: auto
    border-bottom: 1px solid rgba($S-Lightgray, 0.5)
    margin-bottom: 15px
    width: 80%
  .cart-total_body
    width: 80%
    margin: auto
    margin-bottom: 30px
  .cart-total_row
    display: flex
    justify-content: space-between
    margin-bottom: 15px
    &:last-of-type
      margin-bottom: 0
  .cart-total_text
    font-size: 1.5rem
    color: #616161
    line-height: 30px
    width: 60%
  .cart-total_num
    font-weight: 700
    color: $P-Blue
    width: 40%
    text-align: left
    font-size: 1.5rem
  .cart-total_continue
    display: block
    text-align: center
    height: 40px
    line-height: 40px
    color: $P-White
    background-color: $P-Green
    font-size: 1.5rem
    font-weight: 700


.related-items
  background-color: #fff
  border-radius: 5px
  padding: 30px
  margin-bottom: 60px
  .related-items_title
    margin-bottom: 30px


.cart-form
  box-shadow: 0px 4px 4px rgba(#000, 0.05)
  border-radius: 4px
  border-radius: 5px
  &:last-of-type
    margin-bottom: 30px
  &:first-of-type
    margin-top: 60px
  &.active
    .cart-form_body
      height: auto
      padding: 0 30px 20px 60px
    .cart-form_number
      background-color: $P-Orange
  &.submitted
    .cart-form_number
      background-color: $P-Blue

  .cart-form_header
    position: relative
    border-radius: 4px
    background-color: #fff
    padding: 0 30px
    text-align: left
    color: $P-Blue
    font-size: 1.5rem
    font-weight: 700
    height: 50px
    line-height: 50px
    box-shadow: 0px 4px 4px rgba(#000, 0.05)
    display: flex
    justify-content: space-between
  .cart-form_number
    display: block
    background-color: #BDBDBD
    position: absolute
    right: 30px
    height: 100%
    width: 50px
    top: 0
    height: 50px
    text-align: center
    font-size: 2rem
    color: $P-White
  .cart-form_body
    background-color: #ffffff
    font-size: 1.3rem
    height: 0
    overflow: hidden
    p
      padding: 5px 0
      margin-bottom: 10px
    [class^="col-"]
      border-right: 1px solid #ddd
      &:last-of-type
        border-right: 0
  .multiple-form-group
    .form-group
      width: 46%

  .cart-form_submit
    margin: 30px 0
    display: flex
    justify-content: center
  .cart-form_btn
    width: 200px
    height: 40px
    line-height: 40px
    text-align: center
    outline: 0
    border: 0
    background-color: #BDBDBD
    color: white
    border-radius: 5px
    margin-right: 8%
    cursor: pointer
    &:last-of-type
      margin-right: 0
    &.cart-form--blue
      background-color: $P-Blue
    &.cart-form--orange
      background-color: $P-Orange

.cart-form_block
  display: flex
  justify-content: space-between
  font-size: 1.5rem
  color: $P-Blue
  margin-top: 15px
  padding-bottom: 5px
  border-bottom: 1px solid #BDBDBD


.confirmation-msg
  font-size: 2.2rem
  text-align: center
  font-weight: 700
  margin: 30px 0
  &.error
    color: #D0232A
  &.success
    color: $P-Green

.confirmation-sub
  font-size: 1.8rem
  color: #616161
  text-align: center