.cause{
    overflow: visible;
    @media (max-width:767px) {
        margin: auto;
        max-width: 100%;
    }
    &:hover{
        .cause-body{
            box-shadow: 0 0 30px 0px rgba(0,0,0,0.16);
        }
    }
}