.causeWide-progress
  width: 100%
  height: 4px
  border-radius: 2px
  background: $P-Orange
  position: relative
  overflow: hidden
  margin-top: 30px
  .green-line
    background: $P-Green
    position: absolute
    top: 0
    border-radius: 2px
    height: 100%
.causeWide-progress_data
  display: flex
  justify-content: space-between
  font-size: 1.3rem
  font-weight: bold
  text-transform: uppercase
  .causeWide-data_total
    color: $P-Orange
  .causeWide-data_acheived
    color: $P-Green

.causeWide-form
  position: absolute
  bottom: 0
  right: 0
  width: 100%
.causeWide-input_wrapper
  background-color: $S-White
  height: 60px
  line-height: 60px
  display: flex
  box-shadow: 0px -4px 4px rgba(#000, 0.08)
  .number-input
    width: 100%
    background-color: $P-White
    input[type=number]
      max-width: 100%
      height: 100%
      border: none
      color: $P-Green
    button
      color: $P-Green
      width: 100%
      height: 100%
  .causeWide-input_text
    font-weight: bold
    color: $S-Gray
    font-size: 1.5rem
    padding: 0 15px
    white-space: nowrap
    text-align: left
  .causeWide-input_number
    height: 60px
    border: 0
    outline: 0
    -webkit-appearance: none
    width: 100%
    padding: 0 15px
    color: $S-Gray
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button
      -webkit-appearance: none
.causeWide-submit
  height: 60px
  line-height: 60px
  text-align: center
  border: 0
  outline: 0
  text-transform: uppercase
  color: $P-White
  font-size: 2.4rem
  display: block
  cursor: pointer
  width: 100%
  background: $P-Green
  position: relative
  transition: 0.3s ease all
  &:hover
    background: $P-Lightgreen
    .causeWide-submit_icon
      background: $P-Green

.causeWide-submit_icon
  background-color: $P-Lightgreen
  display: inline-block
  width: 60px
  line-height: 60px
  text-align: center
  height: 100%
  position: absolute
  top: 0
  left: 30px
  transition: 0.3s ease all

.causeWide
  width: 100%
  height: 480px
  border-radius: 10px
  overflow: hidden
  display: flex
  margin-bottom: 30px
  position: relative
  box-shadow: 0px 0px 8px rgba(#000, 0.08)
  a.linkUrl
    position: absolute
    top: 0
    left: 0
    bottom: 75px
    right: 0
    width: 100%
    height: calc(100% - 75px)
    z-index: 1
  .causeWide-ribbons
    position: absolute
    top: 0
    left: 30px
    z-index: 1
    display: flex
    .ribbon
      width: 54px
      height: 54px
      background-color: #fff
      padding-top: 10px
      margin-right: 10px
      position: relative
      &:after
        content: ""
        position: absolute
        border-top: 27px solid $P-White
        border-left: 0 solid $P-White
        border-right: 27px solid transparent
        border-bottom: 27px solid transparent
        top: 100%
        left: 0
      &:before
        content: ""
        position: absolute
        border-top: 27px solid $P-White
        border-left: 27px solid transparent
        border-right: 0 solid $P-White
        border-bottom: 27px solid transparent
        top: 100%
        right: 0
      &.orange
        background-color: $P-Orange
        &:before
          border-top: 27px solid $P-Orange
        &:after
          border-top: 27px solid $P-Orange
      &.blue
        background-color: $P-Blue
        &:before
          border-top: 27px solid $P-Blue
        &:after
          border-top: 27px solid $P-Blue
      &:last-of-type
        margin-right: 0 
      img
        width: 30px
        display: block
        margin: auto
        object-fit: contain
  .causeWide-figure
    width: 50%
    height: 100%
    position: relative
    .causeWide-figure_img
      display: block
      height: 100%
      width: 100%
      object-fit: cover
  .causeWide-content
    width: 50%
    height: 100%
    background-color: $P-White
    padding: 80px
    position: relative
    &:after, &:before 
      content: ""
      left: 100%
      right: auto
      top: 45%
      border: solid transparent
      height: 0
      width: 0
      position: absolute
      pointer-events: none
    &:after 
      border-color: rgba(136, 183, 213, 0)
      border-right-color: transparent
      border-width: 20px
      margin-top: -20px    
    &:before 
      border-color: rgba(194, 225, 245, 0)
      border-right-color: $P-White
      border-width: 24px
      margin-top: -24px
    
  .causeWide-title
    color: $P-Blue
    font-size: 3.6rem
    line-height: 1
    margin-bottom: 0
    text-align: left
  .causeWide-stage
    font-size: 1.3rem
    color: $P-Orange
    font-weight: 700
    text-transform: uppercase
    text-align: left
    display: block
  .cause-share
    color: $P-Blue
    position: absolute
    top: 65px
    right: 45px
    width: 50px
    height: 50px
    text-align: center
    line-height: 50px
    z-index: 50
  .causeWide-desc
    color: $S-Gray
    font-size: 1.5rem
    text-align: left
    line-height: 22px
    height: 5*22px
    overflow: hidden
    margin-top: 30px  

.cause
  height: 500px
  max-width: 380px
  border-radius: 5px
  overflow: hidden
  position: relative
  margin-bottom: 30px
  box-shadow: 0px 0px 8px rgba(#000, 0.08)
  &.products
    height: 450px
    .cause-body
      height: 200px
  .number-input
    position: absolute
    left: 90px
    width: 40%
    height: 50px
    button,
    input
      appearance: none
      background-color: $P-Lightgreen
      border: 0
      outline: 0
      color: $S-White
    button
      padding: 0 10px
      cursor: pointer
      @media (min-width: 992px) and (max-width:1199px)
        padding: 0 5px !important
    input
      width: 25%
      text-align: center
      font-size: 1.4rem
    .cause-price_input
      position: relative
      top: auto
      left: auto
  .cause-ribbons
    position: absolute
    top: 30px
    left: 0
    display: flex
    flex-direction: column
    .ribbon
      margin-bottom: 10px
      width: 100px
      height: 30px
      position: relative
      line-height: 30px
      background-color: $P-White
      text-align: center
      font-size: 1.5rem
      &:after
        content: ""
        border-top: 15px solid #fff
        border-left: 0px solid #fff
        border-right: 15px solid transparent
        border-bottom: 15px solid transparent
        position: absolute
        top: 0
        right: -15px
      &:before
        content: ""
        border-bottom: 15px solid #fff
        border-left: 0px solid #fff
        border-top: 15px solid transparent
        border-right: 15px solid transparent
        position: absolute
        top: 0
        right: -15px
      &.orange
        background-color: $P-Orange
        color: $P-White
        &:before
          border-bottom-color: $P-Orange
          border-left-color: $P-Orange
        &:after
          border-top-color: $P-Orange
          border-left-color: $P-Orange
      &:last-of-type
        margin-bottom: 0
  .cause-figure
    height: 250px
    position: relative
    img
      display: block
      width: 100%
      height: 100%
      object-fit: cover
    &:after
      content: none
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      opacity: 0.4
      background: linear-gradient(to bottom, rgba(211,211,211,1) 0%, rgba(211,211,211,1) 31%, rgba(2,28,66,1) 100%)
  .cause-head
    position: absolute
    bottom: 30px
    padding: 0 30px
    z-index: 1
    width: 100%
    text-align: left
  .cause-title
    font-size: 1.6rem
    font-weight: 700
    line-height: 20px
    color: $P-White
    line-height: 1
    max-width: 225px
    text-overflow: ellipsis
    overflow: hidden
    white-space: nowrap
  .cause-stage
    color: $P-Orange
    font-size: 1.3rem
    font-weight: 700
    text-transform: uppercase
  .cause-share
    position: absolute
    right: 30px
    bottom: 0
    color: #ffffff
    cursor: pointer
  .cause-body
    background-color: $P-White
    height: 250px
    padding: 10px 20px 10px 20px
    position: relative
    transition: all .3s cubic-bezier(.53,-.01,0,1.49)
  .cause-desc
    color: $S-Gray
    font-size: 1.5rem
    line-height: 28px
    height: 28*3px
    overflow: hidden
    display: block
    text-align: center
  .cause-data
    display: flex
    justify-content: space-between
    margin: 10px 0
    font-size: 1.2rem
    color: #BDBDBD
  .cause-icons
    display: flex
    justify-content: center
    margin-top: 10px
    .cause-icon
      width: 20px
      height: 20px
      object-fit: contain
      display: block
      margin-right: 10px
      &:last-of-type
        margin-right: 0
  .causeWide-form
    height: 50px
    overflow: hidden
    .causeWide-submit
      height: 50px
      line-height: 50px
      font-size: 1.5rem
      cursor: auto
      .causeWide-submit_icon
        cursor: pointer
        line-height: 50px
      &:hover
        background-color: $P-Green
        .causeWide-submit_icon
          background-color: $P-Lightgreen
      &.cause-price
        padding: 0 15px
        text-align: right
        .causeWide-submit_icon
          background-color: $P-Orange
        .cause-price_input
          position: absolute
          left: 90px
          width: 40%
          padding: 0 10px
          font-size: 1.6rem
          top: 50%
          transform: translateY(-50%)
          border: 0
          outline: 0
          height: 50px
          line-height: 50px
          background: $P-Lightgreen
          color: $S-White
          @media (min-width: 992px) and (max-width:1199px)
            left: 75px !important
      &.cause-price.quantity
        .cause-price_input
          position: relative
          left: auto
          top: auto
          transform: none

      &.cause-submit
        text-align: right
        padding: 0 15px
        .cause-price_submitted          
          position: absolute
          left: 90px
          padding: 0 15px
          font-size: 1.6rem
          display: inline-block
          height: 50px
          line-height: 50px
          background-color: $P-Orange
          color: $S-White
          @media (min-width: 992px) and (max-width:1199px)
            left: 75px !important
  &.news
    height: 410px
    position: relative
    .cause-body
      height: 180px
  a.linkUrl
    position: absolute
    top: 0
    left: 0
    bottom: 75px
    right: 0
    width: 100%
    height: calc(100% - 75px)
    z-index: 1
    outline: 0


.causes-carousel
  position: relative
  & + .carousel-arrows_container
    padding: 0
    width: 110%
    margin-left: -5%
    .prev,
    .next
      color: $P-Green
      font-size: 2.4rem


.campaigns-carousel
  & + .carousel-arrows_container
    width: 110%
    margin-left: -5%
    padding: 0
    .prev,
    .next
      color: $P-Green
      font-size: 2rem



.innerList-causes
  margin-top: 30px

.donations
  margin-top: 120px
  margin-bottom: 20px
  .causeWide
    margin-bottom: 30px
  .donations-header
    height: 260px
    width: 100%
    position: relative
    &:after
      content: ""
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      background: linear-gradient(to bottom, rgba(211,211,211,1) 0%, rgba(54,74,102,1) 75%, rgba(2,28,66,1) 100%)
      opacity: 0.5
  .donations-figure
    display: block
    width: 100%
    height: 100%
    object-fit: cover
  .donations-title
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    color: $P-White
    text-transform: uppercase
    z-index: 1

.donations-types
  .donations-list
    display: flex
    justify-content: center
    border-bottom: 2px solid $P-Green
    margin-bottom: 30px
    li
      margin-right: 30px
      position: relative
      padding-bottom: 15px
      &:last-of-type
        margin-right: 0
      &.active
        &:after
          bottom: 0
          left: 50%
          border: solid transparent
          content: " "
          height: 0
          width: 0
          position: absolute
          pointer-events: none
        &:after 
          border-color: transparent
          border-bottom-color: $P-Green
          border-width: 8px
          margin-left: -8px
        a
          color: $P-Green
          font-weight: 700
    a
      font-size: 1.5rem
      color: $S-Black
      font-weight: 300


.donations-filters
  .donations-filters_title
    font-size: 1.5rem
    color: $S-Black
    margin-bottom: 15px
    padding-bottom: 15px
    line-height: 1
    border-bottom: 1px solid rgba($S-Black, 0.2)
  .form-group
    margin-bottom: 15px
    &:last-of-type
      margin-bottom: 0


.cause-article
  background-color: #fff
  padding: 30px
  margin-bottom: 30px

.article-group
  margin-bottom: 30px
  .article-group_title
    font-size: 1.5rem
    line-height: 30px
    text-align: left
    color: $S-Black
  .article-group_desc
    font-size: 1.3rem
    text-align: left
    font-weight: 300
    line-height: 30px
  .article-image
    display: block
    height: 380px
    position: relative
    border-radius: 3px
    overflow: hidden
    margin-top: 30px
    // &:last-of-type
      // margin-bottom: 0
    &:after
      content: ""
      position: absolute
      left: 0
      top: 0
      width: 100%
      height: 100%
      background: linear-gradient(to bottom, rgba(211,211,211,1) 0%, rgba(54,74,102,1) 75%, rgba(2,28,66,1) 100%)
      opacity: 0.5
    img
      display: block
      width: 100%
      height: 100%
      object-fit: cover


.cause-related
  padding: 30px
  background-color: $P-White
  border-radius: 3px
  margin-bottom: 30px
  .cause-related_title,
  .cause-related_more
    font-size: 1.5rem
    color: $P-Blue
    text-align: left
    margin-bottom: 15px
  .cause-related_title
    text-transform: uppercase
  .cause-related_more
    display: inline-flex
    align-items: center
    i
      margin-left: 10px