.contact
    position: relative
    .map-container
        position: absolute
        top: 0
        left: 0
        z-index: 1
        width: 100%
        height: 100%
        &:after
            content: ""
            position: absolute
            top: 0
            left: 0
            z-index: 1
            width: 100%
            height: 100%
            background-color: rgba($P-White, 0.7)
        iframe
            width: 100%
            height: 100%
            border: 0
    .contact-container
        position: relative
        z-index: 2
        .cart-form_header
            border-radius: 0
        .cart-form_body
            padding: 0 30px
        .contactTypeLabel:not(:first-child)
            display: none
        .locations-container
            > div:not(:first-child)
                display: none
        .cart-list_total
            border-radius: 0


.custom-radio
    margin: 15px 0
    label
        position: relative
        left: auto
        right: auto
        padding-left: 30px
        display: block
        line-height: 18px
        cursor: pointer
        &:before, &:after
            content: ""
            position: absolute
            border-radius: 50%
        &:before
            top: 0
            left: 0
            width: 18px
            height: 18px
            border: 2px solid $S-Gray
        &:after
            width: 10px
            height: 10px
            top: 4px
            left: 4px
            background-color: $S-Gray
    input
        display: none
        &:checked + label
            color: $P-Blue
            font-size: 17px
            &:after
                background-color: $P-Blue
            &:before
                border-color: $P-Blue
.custom-upload
    label
        cursor: pointer
        i
            color: $P-Orange
            margin: 0 10px
    input
        display: none

.cart-form .cart-form_btn
    border-radius: 3px

.pagination
    display: -ms-flexbox
    display: flex
    padding-left: 0
    list-style: none
    border-radius: 3px
    -ms-flex-pack: center!important
    justify-content: center!important
    margin: 20px 0
    li
        > a, span
            position: relative
            display: block
            padding: 10px 15px
            margin-left: -1px
            font-size: 14px
            line-height: 14px
            color: $P-Green
            background-color: #fff
            border: 1px solid #dee2e6
        &.disabled
            a, span
                color: #6c757d
                pointer-events: none
                cursor: auto
                background-color: #fff
                border-color: #dee2e6
        &.active
            a, span
                z-index: 1
                color: #fff
                background-color: $P-Green
                border-color: $P-Green
        &:first-child
            a, span
                margin-left: 0
                border-top-left-radius: 3px
                border-bottom-left-radius: 3px
        &:last-child
            a, span
                border-top-right-radius: 3px
                border-bottom-right-radius: 3px

.error_text
    color: red
    font-size: 13px
    margin: 10px 0 0