footer
  background-color: $S-Lightgray
.footer-follow
  background-color: $P-Green
  height: 60px
  line-height: 60px
  color: $P-White
  .social-links
    display: inline-flex
    margin-left: 15px
    li
      margin-right: 20px
      &:last-of-type
        margin-right: 0
    a
      color: $P-White

.footer-body
  padding: 60px 0

.footer-list_wrapper
  display: flex
  justify-content: space-between
.footer-list
  display: inline-flex
  flex-direction: column
  // margin-right: 60px
  &:last-of-type
    margin-right: 0
  .footer-list_title
    font-size: 1.5rem
    font-weight: 700
    color: $P-Green
    margin-bottom: 15px
  ul
    margin-bottom: 15px
    li
      line-height: 1
      margin-bottom: 10px
    a
      font-size: 1.3rem
      font-weight: 300
      line-height: 1
      white-space: nowrap
      color: $P-Green


.footer-form
  display: flex
  flex-direction: column
  .footer-form_title
    font-size: 1.5rem
    color: $P-Green
    margin-bottom: 15px
  .footer-form_input
    appearance: none
    border: 0
    outline: 0
    border-bottom: 3px solid $P-Green
    background: transparent
    line-height: 25px
    font-weight: 300
    font-size: 1.2rem
    color: $P-Green
    margin-bottom: 15px
  .footer-form_submit
    padding: 10px 20px
    font-size: 1.5rem
    font-weight: 700
    color: $P-White
    background-color: $P-Green
    border: 0
    outline: 0
    max-width: 150px
    cursor: pointer
    margin-top: 15px
    border-radius: 5px

.footer-stores
  margin-top: 30px
  .footer-stores_title
    font-size: 1.5rem
    color: $P-Green
  .footer-links
    display: flex
    margin-top: 15px
    a
      width: 160px
      height: 47px
      display: inline-block
      margin-right: 10px
      &:last-of-type
        margin-right: 0
    img
      display: block
      object-fit: contain
      width: 100%
      height: 100%


.copyrights
  height: 33px
  line-height: 33px
  color: $P-White
  background-color: $P-Green
  .coprights-wrapper
    display: flex
    justify-content: space-between
  .coprights-block
    font-size: 1.3rem
    font-weight: 300