.header
  position: fixed
  top: 0
  left: 0
  width: 100%
  z-index: 100
.subNav
  background-color: $P-Green
  height: 30px
  line-height: 30px
  a
    color: $P-White
  .subNav-login
    color: $P-White
    font-size: 1.3rem
    font-weight: 300
    i
      margin-right: 5px
  .subNav-contact
    margin-right: 60px
    display: inline-flex
    &:last-of-type
      margin-right: 0
  .subNav-contact_block
    font-size: 1.3rem
    color: $P-White
    font-weight: 300
    padding-right: 5px
    margin-right: 5px
    position: relative
    &:after
      content: ""
      right: 0px
      background: $P-White
      width: 1px
      height: 16px
      position: absolute
      top: 45%
      transform: translateY(-50%)
    &:last-of-type
      margin-right: 0
      padding-right: 0
      &:after
        display: none
  .subNav-social,
  .subNav-stores
    display: inline-flex
    a
      color: $P-White
    li
      margin-right: 15px
      &:last-of-type
        margin-right: 0
  .subNav-social
    margin-right: 30px
  .subNav-stores
    margin-right: 60px

.mainNav
  background-color: $P-White
  height: 60px
  line-height: 60px
  position: relative
  box-shadow: 0px 4px 4px rgba(#000, 0.08)
  .col-10
    display: flex
  .mainNav-logo
    width: 47px
    height: 100%
    display: block
    img
      width: 100%
      height: 100%
      display: block
      object-fit: contain
  .mainNav-links
    margin-right: 110px
    margin-right: auto
    li
      margin-right: 30px
      @media (max-width: 1199px) and (min-width: 992px)
        margin-right: 13px
      &:last-of-type
        margin-right: 0
    a
      font-size: 1.3rem
      text-transform: uppercase
      color: $P-Green
      transition: 0.3s ease color
      white-space: nowrap
      &:hover
        color: $P-Orange
  .mainNav-search
    position: relative
    display: inline
    margin-right: 10px
    .mainNav-search_icon
      color: $P-Green
      padding: 0 10px
      cursor: pointer
      display: inline-block
      transition: 0.3s ease all
      z-index: 1
      line-height: 60px
      position: absolute
      right: 0
      top: 43%
      transform: translateY(-50%)
      height: 60px
      &:hover
        background-color: $S-Lightgray
    .mainNav-search_input
      outline: 0
      border: 0
      position: absolute
      right: 0
      top: 50%
      transform: translateY(-50%)
      height: 32px
      border-radius: 25px
      text-align: left
      font-size: 1.4rem
      color: $P-Green
      background-color: $S-Lightgray
      padding: 0
      width: 0
      z-index: 99
      transition: 0.3s ease all
      &::-webkit-input-placeholder,
      &::-moz-placeholder,
      &:-ms-input-placeholder,
      &:-moz-placeholder 
        color: $S-Gray
        font-size: 1.3rem
        line-height: 1
    &.active
      .mainNav-search_icon
        color: $P-Orange
        height: 22px
        line-height: 32px
        &:hover
          background: transparent
      .mainNav-search_input
        padding: 0 25px
        width: 820px
    
  .mainNav-zakat
    color: $P-Green
    text-transform: uppercase
    font-weight: 400
    transition: 0.3s ease all
    font-size: 1.3rem
    margin-right: 10px
    &:hover
      color: $P-Orange
  .mainNav-cart
    display: inline-block
    position: relative
    .mainNav-cart_icon
      display: inline-block
      font-size: 1.6rem
      color: $P-Green
      background-color: $S-Lightgray
      padding: 0 30px
      cursor: pointer
      .budge
        position: absolute
        top: 5px
        right: 15px
        color: #FFF
        background-color: $P-Orange
        border-radius: 50%
        width: 20px
        height: 20px
        font-size: 14px
        line-height: 20px
        text-align: center


.cartWrapper
  position: absolute
  top: 60px
  right: 0
  height: 0
  width: 300px
  z-index: -1
  background-color: $S-Lightgray
  border-radius: 4px
  overflow: hidden
  transition: 0.3s ease all
  &.expanded
    height: 400px
  .cart-body
    padding: 15px
  .wrapScroll
    height: 240px
    width: 100%
  .cart-all
    width: 100%
    background-color: $P-Green
    text-align: center
    color: $P-White
  .cart-head
    padding: 0 15px
    display: flex
    justify-content: space-between
    border-bottom: 10px solid $P-White
    font-size: 1.5rem
    color: $P-Green
  .cartItem
    display: flex
    padding: 15px 10px 15px 0
    position: relative
    border-bottom: 1px solid $P-White
    .cartItem-figure
      width: 55px
      height: 55px
      display: block
      border-radius: 5px
      object-fit: cover
      margin-right: 15px
    .cartItem-content
      display: flex
      flex-direction: column
      width: 100%
      line-height: 1
      padding: 5px 0
      justify-content: space-between
      color: $P-Green
    .cartItem-content_name
      width: 160px
      text-overflow: ellipsis
      text-align: left
      overflow: hidden
      white-space: nowrap
    .cartItem-discard
      position: absolute
      top: 20px
      right: 15px
      cursor: pointer
      color: $P-Green
      height: 15px
      width: 15px
      line-height: 10px



.form-group
  position: relative
  padding-top: 16px
  margin-top: 30px
  label
    font-size: 1.5rem
    color: #616161
    line-height: 16px
    position: absolute
    left: 0
    top: 0
  input,
  textarea,
  select
    outline: 0
    border: 0
    width: 100%
    font-size: 1.3rem
    color: $P-Blue
    line-height: 22px
    padding: 2px 0
    // text-align: left
    border-bottom: 1px solid #616161
    &.error
      border-bottom-color: red
.form-title
  text-align: center
  color: $P-Green
  font-size: 1.5rem
  line-height: 16px
  padding-bottom: 30px
.login-form
  padding: 30px 40px 30px
.signup-form
  display: none
.form-reset
  margin-top: 15px
.form-submit
  margin-top: 60px
  display: flex
  justify-content: space-between
  align-items: center


.multiple-form-group
  display: flex
  justify-content: space-between
  .form-group
    width: 48%
  .multiple-form-group
    width: 48%
.login-form_submit
  border: 0
  outline: 0
  width: 150px
  height: 40px
  line-height: 40px
  color: $P-White
  background-color: $P-Green
  font-size: 1.3rem
  font-weight: 700
  border-radius: 4px
  box-shadow: 0px 4px 4px 0px rgba(#000, 0.15)
  cursor: pointer
  transition: 0.3s ease all
  appearance: none
  &.login-cta
    background-color: transparent
    color: $P-Blue
    box-shadow: none
    display: inline
    width: auto
    height: auto
    line-height: 1
    &:hover
      background: transparent
  &.create-account
    &:hover
      background-color: $P-Orange
      color: $P-White
  &:hover
    color: $P-Blue
    background-color: rgba($P-Blue, 0.03)
    box-shadow: none


.login-wrapper, .pop-wrapper, .share-wrapper
  z-index: 200
  position: fixed
  top: 0
  left: 0
  width: 100vw
  height: 100vh
  background-color: rgba(#F5F5F5, 0.95)
  justify-content: center
  align-items: center
  display: none
  overflow: auto
  .share-socail
    margin-top: 65px
    a
      i
        display: inline-block
        width: 60px
        height: 60px
        font-size: 20px
        border-radius: 5px
        text-align: center
        line-height: 60px
        background-color: $S-Gray
        color: $P-White
        &.fa-twitter
          background-color: #1da1f2
        &.fa-instagram
          background-color: #c13584
        &.fa-google-plus-g
          background-color: #dd4b39
        &.fa-facebook-f
          background-color: #3b5998
  .form-wrapper, .pop-container
    background-color: #ffffff
    border-radius: 5px
    width: 440px
    min-height: 520px
    position: relative
    padding-top: 60px
  .pop-container
    min-height: 200px
  .pop-alert
    font-size: 50px
    margin: 40px 0
  .close-forms, .close-pop
    position: absolute
    top: 25px
    left: 30px
    cursor: pointer
    padding: 0 5px
  .web-logo
    width: 48px
    height: 42px
    display: block
    margin: auto
    img
      display: block
      width: 100%
      height: 100%
      object-fit: contain


html .form-group textarea.t-left
  text-align: left

.contact-location
  width: 100%
  margin-top: 60px
  background-color: #fff

.quick-donation
  position: fixed
  bottom: 30px
  left: 0
  width: 100%
  z-index: 100
  .container
    position: relative
  .btn-orange
    border: 0
    padding: 10px 15px
    font-size: 15px
    color: #ffffff
    cursor: pointer
  .quick-donation-fields, .quick-donate-form
    display: none
  .quick-donation-btn
    float: right
    border-radius: 20px
    box-shadow: 0 0 10px rgba(#000, 0.5)
  .form-group
    position: relative
    .val
      position: absolute
      bottom: 0
      right: 0
      padding: 5px 0
      color: $S-Gray
      font-size: 12px
  .quick-donation-panel
    position: absolute
    bottom: 0
    right: 15px
    width: 300px
    background-color: #FFFFFF
    box-shadow: 0 0 10px rgba(#000, 0.5)
    p.t-gray
      font-size: 14px
      margin: 20px 0 10px
      color: $SC-Gray
    .custom-check
      margin: 8px 0
    .panel-b
      padding: 0 20px 10px
    .panel-h
      padding: 20px 0 15px
      border-bottom: 1px solid #eeeeee
    .panel-f
      .btn-orange
        width: 100%