.heroArea-Slider
  position: relative
  margin-top: 90px
  overflow: hidden
  height: 100vh
  min-height: 670px
  background-color: $S-Black
  margin-bottom: 0
  .heroArea-carousel_slide
    height: 100%
    width: 100%
    position: relative
    &:after
      content: ""
      display: block
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      background: linear-gradient(135deg, rgba(211,211,211,1) 0%, rgba(211,211,211,1) 46%, rgba(2,28,66,1) 90%, rgba(2,28,66,1) 100%)
      opacity: 0.5
  .heroArea-slide_img
    width: 100%
    height: 100%
    object-fit: cover
    min-height: 670px
  .heroArea-slide_content
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: 1
    .heroArea-slide_title
      color: $P-White
      line-height: 1
      margin-bottom: 30px
      text-align: left
      margin-top: 200px
    .heroArea-slide_desc
      color: $P-White
      line-height: 1
      margin-bottom: 30px
      font-size: 5.4rem
      font-weight: 300
      text-align: left
      line-height: 75px
      height: 75*2px
      overflow: hidden
      width: 75%
    .stores
      display: flex
      padding-top: 30px
      a
        display: block
        width: 135px
        height: 40px
        margin-right: 15px
        &:last-of-type
          margin-right: 0
      img
        display: block
        width: 100%
        height: 100%
        object-fit: contain