.home-about
  height: 480px
  position: relative
  margin-bottom: 30px
  &:before
    content: ""
    position: absolute
    top: 0
    left: 0
    width: 50%
    height: 100%
    background-color: rgba($P-White, 0.86)
  .home-about_figure
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    display: block
    object-fit: cover
    z-index: -1
  .home-about_title
    color: $P-Blue
    width: 90%
    margin-bottom: 60px
    line-height: 1
    text-align: left
  .home-about_desc
    width: 90%
    color: $S-Gray
    font-size: 2.6rem
    line-height: 40px
    max-height: 40*4px
    overflow: hidden
    margin-bottom: 60px
    text-align: left
  .home-about_more
    font-size: 1.5rem
    display: flex
    font-weight: 400
    color: $P-Blue
    align-items: center
    text-transform: uppercase
    text-align: left
    i
      margin-left: 10px