.join-section
    margin-top: 150px
    .section-container
        height: 300px
        position: relative
        text-align: center
        img
            width: 100%
            min-height: 100%
            object-fit: cover
        > div
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            background-color: rgba(#000000, 0.5)
            transition: all ease 0.2s
            display: flex
            overflow: hidden
            > div 
                margin: auto
                height: 100%
                padding: 20px
                transform: translateY(50%)
                transition: all ease 0.2s
            h3
                font-size: 30px
                color: #FFFFFF
                margin: 0
                text-shadow: 0 0 5px rgba(#000000, 0.7)
                position: relative
                top: 50%
                transition: all ease 0.2s
                margin-top: -70px
        &:hover
            > div
                background-color: transparent
                > div
                    transform: translateY(0)
                    h3
                        margin-top: -20px
    .career-page
        padding: 30px 0
        .about-header
            margin: 0
        .career-details .custom-panel 
            margin-top: 40px
    .cart-form.active .cart-form_body
        padding: 15px 30px

.custom-panel 
    background-color: #ffffff
    box-shadow: 0 0 5px 2px rgba(#000000, 0.05)
    .pnl-heading
        padding: 20px 30px
        h2
            color: $SC-Orange
            margin: 0
            font-size: 22px
            display: inline-block
        img
            vertical-align: middle
            height: 20px
            margin: 0 10px
        p
            margin: 10px 0 0
            color: $SC-Gray
            font-size: 12px
            font-weight: bold
        & + .pnl-body
            padding-top: 0
    .pnl-body
        padding: 20px 30px
        color: $SC-Gray
        p
            color: $SC-Gray
        ul 
            padding-left: 20px
            list-style: disc
        .career-info
            > *
                margin: 10px 0
            h2
                color: $P-Green
                font-size: 20px
            h3
                font-size: 18px
                color: $P-Blue
                line-height: normal
                font-weight: bold
            h4
                font-size: 15px
                color: $S-Gray
                line-height: normal
                font-weight: bold

.cards-list
    &.large
        .card-item
            padding: 0
            img
                min-height: 100%
            .date
                margin: 10px 0 0
                color: $SC-Gray
                font-size: 12px
                font-weight: bold
    .card-info
        padding: 15px 20px
    .card-item
        padding: 15px 20px
        background-color: #ffffff
        box-shadow: 0 0 5px 5px rgba(#000000, 0.05)
        &+.card-item
            margin-top: 15px
        > *+*
            margin-top: 10px
        span
            font-size: 12px
        a
            font-size: 14px
            color: $P-Lightgreen
            &:hover
                color: $P-Orange

        
.see-more
    color: $P-Blue
    font-weight: bold
    &:hover
        color: $P-Orange

.blue-title
    font-size: 18px
    color: $P-Blue
    line-height: normal
    font-weight: bold
.gray-title
    font-size: 15px
    color: $S-Gray
    line-height: normal
    font-weight: bold

.btn
    &.btn-orange
        display: inline-block
        padding: 5px 40px
        background-color: $P-Orange
        color: #FFFFFF
        border-radius: 20px

img.img-fluid
    max-width: 100%
    display: block


.career-page-list
    background-color: #FFF
    .careers-list
        margin-top: 50px
        img 
            max-width: 35px
            max-height: 35px
.career-search
    position: fixed
    top: 90px
    left: 0
    padding: 20px
    color: $P-Green
    width: 100%
    z-index: 2
    background-color: #f5f5f5
    box-shadow: 0 0 2px #cccccc
    input
        background: none
        border: 0
        outline: none
        padding: 0
        color: $P-Green
    select
        border-radius: 20px
        box-shadow: 0 0 2px #cccccc
        color: $P-Green
        outline: none
        border: 0
        padding: 2px 8px
        min-width: 100px

.volunteers-page
    .causeWide .causeWide-stage
        color: $SC-Gray
        font-size: 11px
        margin-top: 10px
        font-weight: bold