.board-slider{
    @media (max-width:991px){
        .slider-cont{
            .slider-item{
                .item-content {
                    max-width: 80%;
                    margin-top: 30px !important;
                }
                img{
                   float: none;
                   max-width: 90%;
                   margin: auto;
                   min-height: auto;
                   max-height: 400px;
                }
            }
        }
        .small-slider{
            width: 100%;
            float: none; 
            margin-top: 30px;
        }
        
        
    }
}
.parteners-slide{
    @media (max-width:991px){
    .parteners-content{
        width: 100%;
        padding: 10px;
        p{
            width: 100%;
        }
    }
}
}
.board-slider{
    @media (min-width:1400px){
        .slider-cont{
            .slider-item{
                .item-content {
                    max-width: 30%;
                    margin-left:22%;
                }
               
            }
        }
       
        
    }
}
h2{
    @media (max-width:991px){
        font-size: 2.3rem
    }
}
@media (min-width: 1200px){
    .container {
        max-width: 1200px;
    }
}
.cause{
    @media (min-width: 992px) and (max-width:1199px){
        .causeWide-submit_icon{
            left: 15px;
        }
        .number-input{
            left: 75px;
        }
        
        .causeWide-form {
            .causeWide-submit{
                &.cause-price {
                    .cause-price_input{
                        padding: 0 2px;
                    }
                }
               
                
            }
        }
    }     
}

.navbar-toggler {
    display: none;
    @media (max-width: 991px){
        display: inline-block;
        position: absolute;
        
        right: 12px;
        color: #FFF;
    }
    &:focus{
        outline: none;
        box-shadow: none
    }
}
.mainNav{
    @media (min-width: 991px){
        .collapse {
            display: inline-block;
            li {
                display: inline-block;
              }
        }
    }
    @media (max-width: 991px){
        .mainNav-cart{
            margin-right: 38px
        }
        .mainNav-links{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            text-align: center;
            background: #FFF;
        }
    }
}


.home-about{

        &:before{
            @media (max-width: 767px){
                width: 100%;
            }
        }
    @media (max-width: 767px){
        position: relative;
        .home-about_title{
            font-size: 2rem
        }
        .home-about_desc{
            font-size: 1.5rem;
            line-height: 1.8
        }
        .home-about_figure{
            display: none;
        }
        .home-about_more{
            position: absolute;
            top: 2px;
            font-size: 12px;
            right: 15px;
        }
    }
}
section{
    @media (max-width: 767px){
        .section-title{
            font-size: 2rem;
            padding: 30px 0 0
        }
        .section-more{
            position: absolute;
            top: -10px;
            font-size: 12px;
            right: 15px;
        }
    }
}
