.notFound{
    padding-bottom: 50px;
    h2{
        color: $P-Blue;
        margin-bottom: 30px
    }
    p{
        color: $S-Gray;
        line-height: 1.8;
        width: 80%;
        margin-bottom: 30px
    }
    .links {
        margin-top: 30px;
        .custom-link{
            padding: 12px 40px;
            font-size: 1.5rem;
            font-weight: 700;
            color: $P-White;
            background-color: $P-Orange;
            border: 0;
            outline: 0;
            display: inline-block;
            cursor: pointer;
            margin-top: 15px;
            border-radius: 5px;
            border:1px solid $P-Orange ;
            &.no-bg{
                background-color: transparent;
                color: $P-Orange;
                margin-left: 15px
                
            }
        }
    }
    h4{
        margin-top: 60px;
        color: $P-Blue;
        margin-bottom: 30px
    }
    .directLink{
        display: block;
        background-color: $P-White;
        border: 1px solid $S-Lightgray;
        padding: 15px;
        color: #000;
        font-weight: bold;
        margin-bottom: 30px;
        transition:all .3s cubic-bezier(.53,-.01,0,1.49); 
        &:hover{
            color: #000;
            box-shadow: 0px 5px 5px 3px rgba(31,51,73,.1);
        
        }
    }
    
    .download-links {
        img{
            max-width: 200px;
            margin-right: 30px;
            margin-bottom: 30px;
        }
    }
}