.privacy-page
    margin-top: 150px
    margin-bottom: 50px
    .panel 
        padding: 20px 30px
        background-color: #ffffff
    .privary-title
        h1
            font-size: 35px
            color: $P-Orange
            margin: 0 0 15px
        p
            margin: 5px 0
            color: $S-Gray
    .privacy-content
        h2
            margin: 50px 0 10px !important
            color: $P-Green !important
            font-size: 20px !important
        h3, h4, h5
            color: $P-Blue !important
            font-size: 18px !important 
        p
            margin: 20px 0 !important
            color: $S-Gray !important