.profile-page 
    margin-top: 150px
    padding: 30px 0
    section
        padding: 20px 0
        > h3 
            font-size: 25px
            color: $P-Blue
            margin: 0 0 20px 0
    .cards-list
        padding: 20px
        background-color: #ffffff
        .wrapScroll
            max-height: 690px
            overflow: auto
            padding-right: 20px
        .card-item
            border-radius: 2px
            background-color: #eeeeee
            &:hover 
                background-color: #ffffff
    .cart-table
        margin: 0
        .cart-body .wrapScroll
            max-height: 450px
            overflow: auto
            padding-right: 20px
    .cart-form
        margin: 0
        form.cart-form_body
            padding-left: 30px
            padding-bottom: 0
        .form-group input, .form-group textarea, .form-group select
            font-weight: bold