.scopes{
    margin-top: 120px;
    margin-bottom: 60px;
    .col-12:nth-child(even){
        .causeWide{
            .causeWide-figure{
                order: 2;
            }
            .causeWide-content{
                order: 1;
                &:before,&:after{
                    right: auto;
                    left: 100%;
                }
                &:before{
                    border-left-color: #FFFFFF;
                    border-right-color: transparent;
                }
            }
            .causeWide-ribbons{
                right: 30px;
                left: auto;
            }
        }
    }
}

.scoops {
    .slick-slide{
        margin: 0
    }
}
html[dir="rtl"] {
    .causeWide {
        .causeWide-content{
            &:after,&:before{
                left: 100%;
                right: auto;
            }
        }
    }
}