.scoops
  display: flex
  position: relative
  margin-bottom: 30px
  .full-width-figure
    position: absolute
    z-index: -1
    width: 100%
    height: 100%
    object-fit: cover
    transform: 0.3s ease all
  .scoop
    width: 20%
    height: 100vh
    max-height: 768px
    position: relative
    display: block
    color: $P-White
    transition: 0.6s ease all
    border-top: 6px solid transparent
    &:first-of-type
      .scoop-figure
        padding-left: 0
    &:before,
    &:after
      content: ""
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
    &:before
      opacity: 0.26
      background: linear-gradient(to bottom, rgba(0,0,0,0.26) 0%, rgba(0,0,0,0.6) 56%, rgba(0,0,0,0.86) 100%)
    &:after
      background: linear-gradient(to bottom, rgba(0,0,0,0.26) 0%, rgba(211,211,211,1) 24%, rgba(2,28,66,1) 100%)
      opacity: 0.76
    &.education
      border-top-color: $SC-Blue
      &:after
        background: linear-gradient(to bottom, rgba(0,0,0,0.26) 0%, rgba(211,211,211,1) 24%, rgba($SC-Blue, 0.86) 100%)
    &.aspects
      border-top-color: $SC-Violet
      &:after
        background: linear-gradient(to bottom, rgba(0,0,0,0.26) 0%, rgba(211,211,211,1) 24%, rgba($SC-Violet, 0.86) 100%)
    &.social
      border-top-color: $SC-Red
      &:after
        background: linear-gradient(to bottom, rgba(0,0,0,0.26) 0%, rgba(211,211,211,1) 24%, rgba($SC-Red, 0.86) 100%)
    &.healthcare
      border-top-color: $SC-Sky
      &:after
        background: linear-gradient(to bottom, rgba(0,0,0,0.26) 0%, rgba(211,211,211,1) 24%, rgba($SC-Sky, 0.86) 100%)
    &.research
      border-top-color: $SC-Orange
      &:after
        background: linear-gradient(to bottom, rgba(0,0,0,0.26) rgba(211,211,211,1) 0%, rgba(211,211,211,1) 24%, rgba($SC-Orange, 0.86) 100%)
    &.development
      border-top-color: $SC-Gray
      &:after
        background: linear-gradient(to bottom, rgba(0,0,0,0.26) 0%, rgba(211,211,211,1) 24%, rgba($SC-Gray, 0.86) 100%)
    .scoop-figure
      display: block
      width: 100%
      height: 100%
      object-fit: cover
      padding-left: 1px
      transition: 0.6s ease all
    .scoop-content
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      z-index: 2
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
    img.scoop-icon
      width: 25%
      display: block
      object-fit: contain
    i.scoop-icon
      color: $P-White
      font-size: 10rem
      text-align: center
    .scoop-icon
      margin-bottom: 30px
    .scoop-title
      font-size: 2.4rem
      line-height: 54px
      text-align: center
    .scoop-num
      font-size: 1.3rem
      line-height: 38px
      text-transform: uppercase  
    .scoop-num_count
      white-space: nowrap
      font-weight: 700
      font-size: 3.6rem
      line-height: 1
    .scoop-desc
      font-size: 1.5rem
      line-height: 32px
      font-weight: 300
      height: 32*3px
      overflow: hidden
      padding: 0 30px
      margin-top: 30px
      transition: 0.6s ease all
  .total-services
    position: absolute
    bottom: 37px
    left: 0
    width: 100%
    height: 80px
    line-height: 80px
    background: rgba(#000, 0.5)
    z-index: 3
    color: $P-White
    text-align: center
    transition: 0.6s ease all
    .total-services_text
      font-size: 1.8rem
      line-height: 30px
      display: inline-block
    .total-services_num
      display: inline-block
      font-size: 3.6rem
      font-weight: bold
      margin-left: 10px