.card__search{
    padding: 20px 15px;
    border:1px solid $S-Lightgray;
    margin-bottom: 30px;
    transition:all .3s cubic-bezier(.53,-.01,0,1.49);
    &:hover{
        box-shadow: 7px 5px 16px -4px rgba(0, 0, 0, 0.16)
    }
    .card__search-title{
        a{
            color: $P-Blue;
            display: block;
            font-size: 1.2em;
            font-weight: bold;
        }
    }
    .card__search-date{
        span{
            color: $S-Gray
        }
    }
    .card__search-subject{
        p{
            margin-bottom: 15px
        }
    }
    .card__search-subject {
        min-height: 52px;
        max-height: 34px;
        overflow: hidden;
    }
    .card__search-tags{
        overflow: hidden;
        a{
            color: $P-Blue;
            font-weight: bold;
            display: block;
            float: right;
        }
    }
}


/* table
=====================*/ 
.related-items{
    margin-top: 30px;
}
.cart-list{
    .table-responsive{
        margin-top: 60px;
        .cart-table{
            margin-top: 0
        }
    }

}
.table-responsive{
    
}
table.cart-table {
   
    margin-bottom: 0;
    tr{
        width: 100%;
        td{
            border: 0;
            vertical-align: inherit;
            padding: 10px;
            // text-align: center;
        }
    }
    thead{
        td{
            padding: 15px;
            position: sticky;
            top: 0;
            background: #FFF;
            z-index: 20;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05)
        }
    }
    .cart-table_head{
        display: table-header-group;
    }
    .cart-table_row{
        display: table-row;
        .cause-price_input{
            background-color: $S-White;
        }
        
    }
    .cart-table_product{
        .cart-table_figure{
            display: inline-block !important;
        }
        .cart-table_name{
            display: inline-block;
        }
    }
    .cart-table_cancel{
        position: relative;
        top: 6px;
        cursor: pointer;
    }
    .cart-table_product,
    .cart-table_price,
    .cart-table_quantity,
    .cart-table_Total{
        display: table-cell;
        white-space: nowrap;
    }


        
}
.media-news{
    position: relative;
    transition:all .3s cubic-bezier(.53,-.01,0,1.49);
    &:hover{
        box-shadow: 7px 5px 16px -4px rgba(0, 0, 0, 0.16)
    }
    .cause-share{
        position: absolute;
        bottom: 10px;
        right: 10px;
        color: $P-Blue
    }
}

.innear-media{
    .article-group{
        .article-group_date{
            margin-bottom: 20px;
            display: block;
            color: $SC-Gray
        }
    }
    .cause-article{
        position: relative;
        .cause-share{
            position: absolute;
            top: 20px;
            right: 20px;
            color: $P-Orange
        }
    }
    
}

.account-info{
    .bank-info{
        padding: 20px 0;
        border-bottom: 1px solid $S-Lightgray;
        img{
            height: 50px;
        }
        h4{
            color: $P-Blue;
            line-height: 50px;
            font-size: 18px
        }
    }
    .bank-code{
        padding: 10px 0 0 0;
        span{
            color: $S-Gray;
            line-height: 30px;
            font-size: 16px
        }
        h4{
            color: $P-Blue;
            line-height: 30px;
            font-size: 18px
        }
    }
}


.contact-cart{
    position: relative;
    .cart-form-collapse{
        position: absolute;
        width: 45px;
        height: 51px;
        cursor: pointer;
        text-align: center;
        line-height: 51px;
        color: $P-White;
        background-color: $P-Green;
        top: 0;
        right: -45px;
        z-index: 22;
    }
}
.contact-collapse{
    display: none;
    position: relative;
    .cart-form-collapse-up{
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 45px;
        height: 51px;
        line-height: 51px;
        cursor: pointer;
        color: $P-White;
        background-color: $P-Green;
        z-index: 20;
        text-align: center
    }
    &.active{
        display: block;
    }
}
