// main
//   background-color: $SC-Gray
.map-section
  margin-top: 90px
  position: relative
  width: 100%
  height: 80vh
  .open-map-list
    position: absolute
    top: 40px
    left: 12px
    width: 40px
    height: 40px
    background: $P-Lightgreen
    color: $P-White
    text-align: center
    cursor: pointer
    line-height: 40px
  .close-map-list,
  .close-cart-list_total
    cursor: pointer
  .map-container 
    height: 100%
    > *
      width: 100%
      height: 100% !important
  .map-list
    position: absolute
    top: 0
    left: 0
    height: 100%
    width: 300px
    padding: 5px 20px 20px
    background-color: #FFFFFF
    box-shadow: 1px 1px 10px #CCC
    > h3
      font-size: 18px
      font-weight: bold
      color: $P-Blue
      padding: 10px 0
      border-bottom: 1px solid #eaeaea
    .map-list-container
      height: calc(100% - 50px)
      overflow: auto
      margin: 0 -20px
      padding: 0 20px
      ul
        padding: 15px 0
        li
          padding: 5px 0
          position: relative
          &.dropdown
            padding-right: 15px
            > i
              position: absolute
              top: 8px
              right: 0
            &.open
              i
                transform: rotate(180deg)
            > ul
              padding: 10px 0
              display: none
              li
                a
                  color: $S-Gray
                  font-weight: normal
                  &.active, &:hover
                    color: $P-Orange
          a
            color: $P-Green
            display: block
            font-weight: bold
            font-size: 14px
            &.active, &:hover
              color: $P-Orange
  .cart-list_total
    position: absolute
    top: 20px
    right: 10px
    max-width: 350px
    width: 100%
    margin-top: 0

.tabaro3
  margin-top: 60px

.tabaro3-list_total
  margin-top: 30px
  background-color: #fff
  border-radius: 5px
  overflow: hidden
  margin-bottom: 30px


  .tabaro3-total_row
    font-size: 1.5rem
    padding: 15px 30px 15px 10px
    text-align: left
    margin: auto
    border-bottom: 1px solid rgba($S-Lightgray, 0.5)
    margin-bottom: 15px
    width: 80%
    display: flex
    justify-content: space-between
    margin-bottom: 15px
    box-shadow: 0px 4px 4px rgba(#000, 0.05)
    border-radius: 5px
.tabaro3-form
  box-shadow: 0px 4px 4px rgba(#000, 0.05)
  border-radius: 5px

  &:last-of-type
    margin-bottom: 30px
  &:first-of-type
    margin-top: 30px
  &.active
    .tabaro3-form_body
      height: auto
      padding: 15px 30px 20px 60px
      &.p-0
        padding: 0
    .tabaro3-form_number
      background-color: $P-Orange

  &.submitted
    .tabaro3-form_number
      background-color: $P-Blue
  &.hidden
    display: none
  .tabaro3-form_header
    position: relative
    border-radius: 4px
    background-color: #fff
    padding: 0 30px
    text-align: left
    color: $P-Blue
    font-size: 1.5rem
    font-weight: 700
    height: 50px
    line-height: 50px
    box-shadow: 0px 4px 4px rgba(#000, 0.05)
    display: flex
    justify-content: space-between
    width: 100%
    img
      object-fit: contain
  .tabaro3-form_body
    background-color: #ffffff
    font-size: 1.3rem
    height: 0
    overflow: hidden
    p
      padding: 5px 0
      margin-bottom: 10px
    [class^="col-"]
      border-right: 1px solid #ddd
      &:last-of-type
        border-right: 0

    .donation-method
      height: 90px
      border-bottom: 1px solid rgba(154, 154, 154, .3)
      &.active
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05)
      &:last-of-type
        border-bottom: none
      .donation-method_name
        padding-top: 15px
        color: $P-Green
        font-size: 30px
        float: left
        cursor: pointer
      .donation-method_img
        padding-top: 15px
        float: right
  .multiple-form-group
    .form-group
      width: 46%


  .tabaro3-form_submit
    margin: 30px 0
    display: flex
    justify-content: center
  .tabaro3-form_btn
    width: 200px
    height: 40px
    line-height: 40px
    text-align: center
    outline: 0
    border: 0
    background-color: #BDBDBD
    color: white
    border-radius: 5px
    margin-right: 8%
    cursor: pointer
    &:last-of-type
      margin-right: 0
    &.tabaro3-form--blue
      background-color: $P-Blue
    &.tabaro3-form--green
      background-color: $P-Green

#accordionTabr3
  .card
    background-color: transparent
    border: 0
    .card-header
      padding: 0
      background-color: transparent
      border: none
      .card-link
        display: block
        padding: 9px 15px 15px
        background-color: $P-White
        color: $P-Blue
        font-weight: bold
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05)
        position: relative
        transition: all 0.3s ease-in-out
        i
          position: absolute
          top: 50%
          right: 20px
          transform: translatey(-50%)
          font-size: 20px
          transition: all 0.3s ease-in-out
        &.collapsed
          background-color: $P-White
          i
            transform: translatey(-50%) rotate(180deg)
  .card-body
    background-color: $P-White
    padding: 20px
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05)
